body {
  font-family: 'Nanum Gothic', sans-serif;
  background-image: url("img/body-bg.jpg");
  background-repeat: repeat;
  background-size: auto;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px auto auto auto auto;
  grid-template-areas:
    "header"
    "nav"
    "downloads"
    "main"
    "resources"
    "footer";
}

header {
  grid-area: header;
  text-transform: uppercase;
  background: linear-gradient(rebeccapurple, transparent),
  url("img/header-bg.jpg") no-repeat center;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header,
main h1,
main h2,
aside h2,
.intro p,
.pdf-download,
nav ul,
.final-comment,
.image,
footer,
.divider-img {
  text-align: center;
}

nav {
  grid-area: nav;
  background: grey;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 4px black;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: .25em;
}

nav li {
  padding: .25em;
  margin: .5em;
}

main {
  grid-area: main;
}

#go-it-alone,
#go-traditional {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1em;
}

main h1 {
  color: purple;
}

main h2,
aside h2 {
  color: olivedrab;
}

h1,
h2,
h3,
nav,
#myBtn {
  font-family: 'Cinzel', serif;
}

.intro p,
blockquote {
  font-size: .85em;
}

main,
aside {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  background: white;
}

main li {
  padding: .25em;
}

blockquote,
.answer {
  font-style: italic;
}

.question,
.final-comment {
  font-weight: bold;
}

nav a {
  color: purple;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

.nav-heading,
footer {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
}

main a,
aside a {
  color: ;
  font-weight: bold;
  color: green;
  text-decoration: none;
}

main a:hover,
aside a:hover {
  color: grey;
  padding: .25em;
}

.downloads {
  grid-area: downloads;
}

.resources {
  grid-area: resources;
}

i {
  color: rebeccapurple;
  padding-right: .5em;
}

.pdf-download {
  padding: 1em;
  margin: 1em;
  border: 1px dashed black;
  background: thistle;
}

.divider {
  max-width: 200px;
  height: auto;
}

.alone-image,
.traditional-image {
  border: 5px double grey;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1em; /* Place the button at the bottom of the page */
  right: 1em; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rebeccapurple; /* Set a background color */
  color: white; /* Text color */
  text-shadow: 1px 1px 2px black;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: .5em; /* Some padding */
  border-radius: .4em; /* Rounded corners */
  font-size: 1em; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

footer {
  grid-area: footer;
  background: grey;
  padding: 1em;
}

/* ==============================
    MEDIA QUERIES
===============================*/

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto auto 300px auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "downloads downloads"
      "resources main"
      "footer footer";
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: .25em 3em;
  }

  nav li {
    padding: 1em .2em;
    display: inline-block;
  }

  main a:hover,
  aside a:hover {
    color: grey;
    padding: 0;
  }
}
