body {
  font-family: 'Nanum Gothic', sans-serif;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "aside"
    "main";
  grid-gap: 1em;
}

header {
  grid-area: header;
  text-transform: uppercase;
  background: purple;
}

header,
main h1,
main h2,
.intro p,
.pdf-download,
nav ul,
.final-comment {
  text-align: center;
}

.title {}

.subtitle {}

nav {
  grid-area: nav;
  background: grey;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: .25em;
}

nav li {
  padding: .25em;
  margin: .5em;
}

main {
  grid-area: main;
}

#go-it-alone,
#go-traditional {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1em;
}

main h1 {
  color: purple;
}

main h2,
aside h2 {
  color: olivedrab;
}

h1,
h2,
h3,
nav {
  font-family: 'Cinzel', serif;
}

.intro p,
blockquote {
  font-size: .85em;
}

main,
aside {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}

section {}

main li {
  padding: .25em;
}

blockquote,
.answer {
  font-style: italic;
}

.question,
.final-comment {
  font-weight: bold;
}

nav a {
  color: purple;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

.nav-heading {
  color: white;
  font-weight: bold;
}

main a,
aside a {
  color: ;
  font-weight: bold;
  color: green;
  text-decoration: none;
}

main a:hover,
aside a:hover {
  color: grey;
  padding: .25em;
}

aside {
  grid-area: aside;
}

.pdf-download {
  padding: 1em;
  margin: 1em;
  border: 1px dashed black;
  background: grey;
}

/* ==============================
    MEDIA QUERIES
===============================*/

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "aside main";
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: .25em 3em;
  }

  nav li {
    padding: 1em;
    display: inline-block;
  }

  main a:hover {
    color: grey;
    padding: 0;
  }
}
